[2018-01-11 14:49] mumoshu opened #1 "http/2(h2, h2c) and gRPC support"
@brancz Hi, thanks for sharing a very inspiring project 👍

I'm POCing to add support for gRPC but I'm not really sure if it is really feasible.
I'd greatly appreciate if you could leave comments on the state of my POC.
Thanks!

https://github.com/mumoshu/kube-rbac-proxy/tree/grpc-support

In nutshell:

- It runs a [gRPC proxy instead of the http(s) one](https://github.com/mumoshu/kube-rbac-proxy/b

[2018-01-11 19:17] brancz commented on #1
Thanks for the praise! Happy it's useful to people :slightly_smiling_face:.

I think native gRPC support is a very cool idea. I think we need to find the right abstractions. As gRPC builds on top of HTTP2, maybe we can hop on that. A gRPC method has a specific HTTP2 path which is in the form of `/ServiceName/MethodName`, I would suggest that we maybe just verify access to that non-resource-url. If

[2018-01-12 07:37] mumoshu commented on #1
@brancz Hi, thanks for your comment, and the direction!

Seems like I've managed to finish it.

Changes so far:

https://github.com/mumoshu/kube-rbac-proxy/compare/master...grpc-and-h2c-support

Gotchas addressed:

- golang's reverse-proxy, http server, client impls don't support h2c(insecure variant of http/2 a.k.a http/2 over plain-tcp)
- There are various types of http servers. One could suppor

[2018-01-12 07:44] brancz commented on #1
No worries, your comment is not too long, it covers everything is great detail, and I think this is starting to take shape! Also nice job on the code comments, they guided my through your thought process very well.

Regarding the headers, I'd suggest to go with `x-remote-user` and `x-remote-groups` as a default, but make it configurable, same with the delimiter joining the `x-remote-groups` header

[2018-01-12 07:50] mumoshu commented on #1
@brancz Thanks for your comment again!

Sounds great 👍
I'll try to address the points and will submit a PR relatively soon.

[2018-01-15 02:34] mumoshu commented on #1
For anyone interested: The PR is in-progress at #2

[2018-01-15 13:12] #1 closed

[2018-02-26 02:51] carlosedp opened #3 "Error after compiling to ARM architecture"
Since this image is a requirement to deploy some coreos prometheus-operator images, I tried compiling on an ARM64 board. I changed the GOARCH and the compilation went fine but when executing I get:

[code]

Same happens on ARM32 or ARM64.

[2018-02-26 14:02] brancz commented on #3
This is unrelated to the architecture I believe, the kube-rbac-proxy expects to be run within a Kubernetes cluster. Could you see if you can reproduce this with the provided examples? For example: https://github.com/brancz/kube-rbac-proxy/tree/master/examples/non-resource-url

[2018-02-26 21:05] carlosedp commented on #3
Tried deploying and get:

[code]

[2018-03-18 15:10] jpiper opened #4 "insecure cipherSuites"
The kube-rbac-proxy accepts TLS 1.0 and is also vulnerable to http://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-2183

If the cipher suite was configurable, or these insecure ciphers were removed, this would be good.

Look at modern compatibility here: https://wiki.mozilla.org/Security/Server_Side_TLS for good recommended settings.

[2018-03-19 09:58] brancz commented on #4
Thanks for opening this issue, that's absolutely something we need to fix. Do you want to open a PR?

[2018-03-19 10:14] jpiper commented on #4
I could have a stab at it. It was flagged during security scanning as the node_exporter needs to run as hostnetwork in order to get the network stats, but this exposes the rbac proxy on the host port.

Effectively what we need is something like this:

https://github.com/kubernetes/kubernetes/commit/b7100f1ee7231617891a100dd34b3490a1f578e4

[2018-03-19 10:17] brancz commented on #4
Yes makes sense. Happy to do a release as soon as we merge that. Thanks for bringing this up!

[2018-03-27 05:47] jpiper opened #6 "building from HEAD doesn't work"
Building from 0.2.0 works fine but the latest change doesn't work. I get a segfault at https://github.com/brancz/kube-rbac-proxy/blob/master/main.go#L148

[code]

[2018-03-27 20:06] brancz commented on #6
Closed by #8

[2018-03-27 20:06] #6 closed

[2018-03-27 20:08] brancz commented on #4
Closed by #8

[2018-03-27 20:08] #4 closed

[2018-03-27 20:08] brancz commented on #3
This was indeed a bug in the code, it was closed by #8

[2018-03-27 20:08] #3 closed

[2018-05-07 06:51] ericxiong opened #10 "Kernel Panic when deploying kube-prometheus"
prometheus-operator version: 0.19.0

[code]

[code]

vmcore_dmesg
[code]

[2018-06-20 00:35] markeijsermans opened #11 "x509 - cannot parse dnsName"
The current version v0.3.0 on [quay.io](https://quay.io/repository/coreos/kube-rbac-proxy?tag=latest&tab=tags) is compiled with a version of golang that is causing issues with intermediary certs. This effects people running prometheus-operator from the [generated manifests](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus/manifests)

Logs from the proxy running in

[2018-06-20 07:48] brancz commented on #11
Thanks for this issue! I will re-compile and release a new version to get this fixed.

[2018-06-20 08:13] #11 closed

[2018-06-20 08:16] brancz commented on #11
Released and pushed v0.3.1 and images are available under:

* `quay.io/brancz/kube-rbac-proxy:v0.3.1`
* `quay.io/coreos/kube-rbac-proxy:v0.3.1`

Again, thanks a lot for reporting this. I'll also submit a PR for kube-prometheus to bump to this version.

[2018-08-15 03:45] custa opened #15 "need to rebuild quay.io/brancz/krp-curl"
Current quay.io/brancz/krp-curl image used the outdated Dockerfile.

[2018-08-15 08:42] brancz commented on #15
I just pushed a new version, keep in mind this is only used for testing, and typically just built locally.

[2018-08-15 08:42] #15 closed

[2018-09-25 11:15] Dirbaio opened #16 "Crashes if container filesystem is readonly"
I'm trying to run Prometheus in a cluster with a PodSecurityPolicy with `readOnlyRootFilesystem: true`. This makes the Docker copy-on-write filesystem read-only for all containers. (EmptyDirs and other volumes are still RW).

The issue is that kube-rbac-proxy seems to be trying to write logs to `/tmp`, and crashes when trying to do so because `/tmp` is read-only.

[code]

Ideally kube-rbac-proxy s

[2018-09-28 12:54] brancz opened #18 "Support audience validation"
Kubernetes now has a TokenRequest API, through which a ServiceAccount can create new tokens, that are scoped to audiences. For example this can be used by Prometheus to create a new token, that is purely meant for talking to kubelets. This is desirable, because otherwise the kubelet could simply impersonate the Prometheus server by stealing the ServiceAccount token it handed to it in plaintext.

P

[2018-11-27 23:08] droot opened #23 "Request for moving this project repo under kubernetes-sigs"
We ([Kubebuilder](https://github.com/kubernetes-sigs/kubebuilder) team) are planning to use `kube-rbac-proxy` for adding authn/authz support to the metrics endpoint exposed by the controllers written using Kubebuilder. We would like to avoid forking the repo and maintaining our own container images.

kube-rbac-proxy is a very useful project and having the repo and the container images available un

[2018-12-12 00:53] mrrandrade opened #24 "Token Auth is fine, but User Auth (cert) is not processed"
Hey there.

If I understood it right, kube-rbac-proxy works with both token (ServiceAccount directive on RBAC) and signed certificates (User directive on RBAC). I'm having trouble AUTH'ing with just certs.

Just deployed kube-rbac-proxy as a sidecar to a prometheus-node-exporter. Plan is to protect the /metrics endpoint.

Followed the example, everything is fine enough:

[code]
I enabled verbose l

[2018-12-14 19:08] brancz commented on #24
I'm about to go on vacation, so @metalmatze @s-urbaniak can you have a look at this?

[2018-12-26 06:57] zhanglianx111 commented on #10
Me too
My k8s cluster info：
GitVersion: "v1.12.3", GitCommit:"435f92c719f279a3a67808c8051ea17d5715c66", GoVersion:"go1.10.4", Platform:"linux/amd64"

5 nodes in my k8s cluster, and kube-proxy mode: ipvs

[2018-12-27 16:14] serathius opened #25 "Support workloads with http probes"
To secure application using kube-rbac-proxy application needs to bind on localhost. In cases when pod is not running in host network, application is not reachable for kubelet to perform healthchecks.
To my knowledge there is no way to configure kubelet to use service account tokens when performing http probes, making it impossible to use kube-rbac-proxy with healthchecks without adding yet another

[2019-01-07 12:35] brancz commented on #10
Can you describe a bit more what this failure looks like? Does it happen at start up? At runtime? Does the container restart and work again afterwards?

[2019-01-07 15:35] brancz commented on #25
This seems like a reasonable thing to me as explicit flags on kube-rbac-proxy.

[2019-01-18 15:01] jonaz opened #26 "Proxy does start listening and then stopps?"
I was debating where to put this issue (prometheus-operator or here)
Using kubernetes 1.11.5

I expect the kube-rbac-proxy-main pod to listen to 8443 and the kube-rbac-proxy-self to listen to 9443
It starts listening.. But after a while it just stopps and prints no error
[code]

We use pretty standard jsonnet from kube-prometheus with no modifications to kube-state-metrics.
Generated kube-state-me

[2019-01-21 10:59] brancz commented on #26
Very interesting. But the process is still running?

[2019-01-21 11:36] jonaz commented on #26
Yes it seems to continue to run:
[code]

Did some debugging now. And if i edit the deployment and remove `--tls-cipher-suites=`argument it starts to work 100%

[2019-01-23 10:14] brancz commented on #26
Sorry for the inconvenience. We're actively working on a fix. Unfortunately it is more involved, but we will make an announcement as soon as it is out the door.

[2019-01-28 10:00] seth-priya opened #32 "Adding Power support for image quay.io/brancz/kube-rbac-proxy at quay.io"
Hi All,

I have a requirement for using the kube-rbac-proxy image on Power(ppc64le) architecture. However, the images available here - https://quay.io/repository/brancz/kube-rbac-proxy and here https://quay.io/repository/coreos/kube-rbac-proxy?tab=tags have support for "amd64" only as seen below

$ Using image available currently at quay.io
docker image inspect quay.io/brancz/kube-rbac-proxy:v0.4.

[2019-01-28 11:14] brancz commented on #32
I would need to double check myself, does quay support multi arch images? If so I'm happy to publish those images, but would like to avoid having to maintain multiple repositories for each arch.

[2019-01-30 05:17] seth-priya commented on #32
@brancz yes, I found one example of a multi arch images on quay here  https://quay.io/repository/coreos/flannel?tab=tags
They are distinguishing based on tag names, as seen.

[2019-01-30 21:08] brancz commented on #32
That's not what I was thinking, the docker registry spec has a way to have multiple architectures under the same image+tag.

[2019-01-31 10:55] seth-priya commented on #32
Yes, so there are multiple ways to do this. On dockerhub they have different namespaces, so for example, for postgres,
the ppc64le image is here https://hub.docker.com/r/ppc64le/postgres
the amd64 is here https://hub.docker.com/r/amd64/postgres

and https://hub.docker.com/_/postgres is actually the multi-arch manifest that, when pulled, will pull the correct image

Steps are here https://docs.dock

[2019-01-31 16:55] seth-priya commented on #32
Different images, will need to be built, yes.

It would help to simplify things from a maintenance perspective  if we can have all the docker builds going on on Travis - we have Power support for Travis and the travis.yml file for Intel / Power would essentially be the same, with only one additional flag enabled. example here https://github.com/fluent/fluentd-docker-image/blob/master/.travis.yml

[2019-02-07 10:02] s-urbaniak commented on #24
@mrrandrade sorry for the late answer, but vacations delayed this a lot. Just quickly looking at the code I don't see any obvious bug here (although that doesn't mean there is none), but just to verify.

Looking at the client certificate mapping code:
https://github.com/brancz/kube-rbac-proxy/blob/4109f9915c59048db507b4d6c5e2f70504b95716/vendor/k8s.io/apiserver/pkg/authentication/request/x509/x509

[2019-02-11 04:50] seth-priya commented on #32
@brancz , any thoughts on this? thank you!!

[2019-02-18 10:04] brancz commented on #32
I'm having a conversation with Kubernetes SIG auth to potentially donate this project to sig-auth, I'd prefer to hold off on this until we figure that out, as the build process would likely change anyways.

[2019-02-19 05:30] seth-priya commented on #32
@brancz  - okay, thanks for letting me know.

[2019-03-21 04:27] sreekanth-ragi opened #36 "Is versio 0.4.1 supported for Openshift Origin 3.11"
Considering the below bugzilla; is version 0.4.1 supported with Openshift Origin 3.11
https://bugzilla.redhat.com/show_bug.cgi?id=CVE-2019-3818

Thanks,
Sreekanth

[2019-03-22 09:56] brancz commented on #36
0.4.1 is the version used in 3.11, yes. Please file a bugzilla next time, if you have a question about a Red Hat project/product.

[2019-03-22 09:56] #36 closed

[2019-04-09 08:34] lixianyang opened #37 "Unable to authenticate the request due to an error"
## info
kubernetes version: 1.12.4
kernel: 3.10.0-514.el7.x86_64
kube-rbac-proxy: 0.4.1(kube-prometheus deploy)
## steps
The cluster was stable for several weeks. Today a k8s node reboot, then kube-rbac-proxy in this node started with error log, and prometheus data in this node also in wrong state.

service kubernetes (10.250.0.1)

node export pod kube-rbac-proxy container log:
[code]

prometheus

[2019-04-09 10:40] lixianyang commented on #37
I restart kube-proxy, it works again.

[2019-04-09 10:40] #37 closed

[2019-06-07 22:05] GhostViz opened #40 "Sweet32 still allowed after upgrading to kube-rbac-proxy 0.4.1 and setting minimum TLS version to 1.2"
after upgrading kube-rbac-proxy to version 0.4.1 and setting TLS Minimum Version to 1.2
[code]

`openssl s_client -connect [redacted]:9100 -cipher DES-CBC3-SHA` is still able to connect and verify.

[code]

`openssl s_client -connect [redacted]:9100 -cipher ECDHE-RSA-DES-CBC3-SHA` has teh same behavior as listed above, of course with the cipher being ECDHE-RSA-DES-CBC3-SHA instead of DES-CBC3-SHA.

[2019-06-11 08:16] brancz commented on #40
Thanks for reporting! Yes we should definitely fix this.

[2019-06-11 08:19] brancz commented on #40
For what it's worth, the ciphers used you can configure with the `--tls-cipher-suites` flag, but we should make TLS 1.3 the new default and recompile with latest go version.

[2019-06-11 08:29] brancz commented on #40
For clarification, which version of OpenShift are you using and how is the kube-rbac-proxy started? It should be running only safe cipher suites.

[2019-06-11 23:14] GhostViz commented on #40
Using Openshift version 3.11 with the Openshift Monitoring GAP stack deployed using the openshift-monitoring playbook from openshift-ansible.  By default it uses the kube-rbac-proxy 0.3.1 image from quay. I pulled the 0.4.1 image and edited only the image tag in the deployment. 0.3.1 to 0.4.1.

[2019-06-12 21:06] PrakashNair opened #42 "Self generated cert for the kube-rbac-proxy only generates CN with timestamp"
On running kube-rbac-proxy with only secure-listen-address and upstream, the generated certificate has CN of the value (only with Unix timestamp. The hostname is missing in the CN):
subject=/CN=@1554404348
issuer=/CN=@1554404348

Expected:
CommonName: fmt.Sprintf("%s-ca@%d", host, time.Now().Unix())

- https://github.com/brancz/kube-rbac-proxy/blob/master/vendor/k8s.io/client-go/util/cert/cert.go#

[2019-06-13 14:37] #42 closed

[2019-06-13 15:41] brancz commented on #40
There is no proper support for TLS 1.3 in go yet, so we will have to wait for that (it can be enabled but only via a debug flag). Regarding the cipher suites, is there anything you can't achieve with the existing `--tls-cipher-suites` flag?

[2019-06-13 18:33] GhostViz commented on #40
I was having issues with the pods with kube-rbac-proxy going into crashloop backoff but it was a configuration issue on my end. I was trying to be too restrictive with the cipher suites I allowed, and I was missing a AES_128_GCM_SHA256 cipher.

[2019-06-13 20:29] brancz commented on #40
Do you want to close this issue then and open a new one just for TLS 1.3?

[2019-06-13 20:47] #40 closed

[2019-07-02 15:50] StanYago opened #49 "Serviced accounts blocked in mirror pods"
Use of ServiceAccounts is blocked in static (mirror) pods such as kube-scheduler.  How can kube-rbac-proxy be used in this case?  There is mention of using certificates for authentication, but kube-rbac-proxy fails /w main.go:329] cannot find Service Account in pod to build in-cluster rest config

[2019-07-02 19:08] brancz commented on #49
The kube-scheduler has the functionality provided by the kube-rbac-proxy basically built in, why do you need it there?

[2019-07-02 19:18] StanYago commented on #49
kube-controller-manager and kube-scheduler's metrics endpoint is not protected.  With hostNetworking enabled, they will either listen on host's interface or on loopback interface.  In the first case it is exposed outside of cluster in the second it is not reachable by prometheus operator.  The CIS guidelines 1.2.2 and 1.3.7 recommend using the loopback interface.

[2019-07-02 19:25] brancz commented on #49
Using kube-rbac-proxy to forward requests to loopback doesn’t improve the security story, it will still be exposed. Upstream secure endpoints offer the same features now as kube RBAC proxy will by forwarding to loopback.

[2019-07-02 19:39] StanYago commented on #49
If there was a way to create authentication for https endpoints that is limited to /metrics only, then I must have missed it.

[2019-07-02 19:43] brancz commented on #49
What other endpoints are there on the scheduler? And the RBAC role is exactly the same, being the non-resource-url /metrics :)

[2019-07-03 23:59] pickledrick commented on #49
Hi @brancz do you know of any documentation around this. I'm not following how the static pod `kube-scheduler` for example, if bound to a loopback address can receive network communication to perform a SAR?

[2019-07-04 06:59] brancz commented on #49
The scheduler uses its certificate to communicate with the apiserver to perform the SAR. See this blog post: https://octetz.com/posts/secure-port-k8s-cm-sched

[2019-07-04 17:54] StanYago commented on #49
The final missing part to get kube-scheduler working /w apiserver when using kubeadm
https://github.com/kubernetes/kubeadm/issues/1285#issuecomment-494476555

[2019-07-04 17:54] #49 closed

[2019-08-26 04:55] gayathrimenathtcl opened #51 "Not able to authenticate by kube rbac proxy"
I am developing an admission controller which is protecting by kube rbac proxy. I have admission controller on '/' endpoint and prometheus metrics on '/metrics' endpoint. I am able to get the prometheus metrics data using the bearer token, but getting authentication error on admission controller. The authentication is expecting either a bearer token but the request doesn't contain token. How can I

[2019-08-28 09:12] brancz commented on #51
I assume the apiserver uses TLS client cert authentication? So you're saying you want to use both bearer token auth and TLS client cert auth right? If that doesn't work, then we should make that work :)

[2019-09-20 23:06] dennisme commented on #26
@brancz Im running into a similar issue. I notice this comment [here](https://github.com/brancz/kube-rbac-proxy/pull/41) about switching to `component-base`, sounds like that would resolve this bug? Is that something you need a hand with?

[2019-09-23 07:35] brancz commented on #26
I believe this bug should have been fixed with the v0.4.1 release, however, switching to component-base is still a good idea! :)

[2019-09-23 15:23] dennisme commented on #26
Ah cool! What repo / SIG owns pushing the updated image? I see `quay.io/brancz/kube-rbac-proxy:v0.4.0` and https://github.com/kubernetes-sigs/kubebuilder/blob/master/pkg/scaffold/v2/metricsauth/kustomize_auth_proxy_patch.go#L55 but no `v0.4.1`?

[2019-09-23 15:45] brancz commented on #26
Sorry that was my mistake. It's there now.

[2019-09-23 15:49] dennisme commented on #26
Im guessing a maintainer of kubebuilder just `docker  pull`'s re tags and pushes then? I pinged them in the #kubebuilder slack here https://kubernetes.slack.com/archives/CAR30FCJZ/p1569252354075100.

[2019-09-23 15:50] brancz commented on #26
I can only assume so, yes.

[2019-09-23 16:47] dennisme commented on #26
I'll let you know once I find out, thanks again.

[2019-09-27 17:23] dennisme commented on #26
https://github.com/kubernetes-sigs/kubebuilder/pull/1041

[2019-09-30 09:14] gayathrimenathtcl commented on #51
Either bearer token or ca alone will work.
I have some updates on this issue. The admission controller is to validate a yaml before applying it. I have enabled TLS as [https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#authenticate-apiservers](kubernetes documentation).  The error occuring from kube-apiserver is

 The api server is not able to get the PEM cer

[2019-09-30 11:35] brancz commented on #51
I see, so you're saying both should work at the same time, but if webhook authentication is enabled, then only webhook authentication is possible. That would indeed be a bug I think that we should fix.

[2019-10-02 02:57] kannanvj opened #52 "Could not authenticate with Kube-Rbac-Proxy"
Hi All,
   I am having a Custom Resource controller on my Kubernetes cluster with Webhook to validate the CRD parameter. I am able to create a CRD resources with this setup. I mean, APIserver is able to send an incoming Request to Webhook to validate and webhook is able to send an response back to API server. Now I have placed the kube-rbac proxy between APIserver and webhook.
Now all the incoming

[2019-10-02 08:13] brancz commented on #52
Does your webhook actually already implement TLS? Why do you need the kube-rbac-proxy then?

Is this the certificate for the kube-rbac-proxy server or for kube-rbac-proxy to authenticate with the Kubernetes API?

[2019-10-02 09:50] kannanvj commented on #52
@brancz , Implementing the TLS is optional with respect to my webhook. When i have implemented it,webhook is able to receive the data from kube-apiserver and able to respond back to kube-apiserver.

In my test, I have removed the TLS authentication from webhook.  i wanted the authentication to be happen by kube-rbac-proxy. If it works fine, i will be easily replace it with most of my app

I have a

[2019-10-02 23:04] brancz commented on #52
The `tls-cert-file` and `tls-private-key-file` are for the kube-rbac-proxy's server TLS, not for authenticating with the Kubernetes API. That should be configured with the `--kubeconfig` flag. Try setting the `--client-ca-file` flag to the CA that the Kubernetes apiserver's client cert is signed with.

[2019-10-04 09:26] kannanvj commented on #52
@brancz , I have tried using --client-ca-file flag which Kubernetes apiserver's client cert is signed with. But still I am getting the same error. Also, I have added the option --kubeconfig . I have added the kubeconfig from the place where it got generated by k8s $HOME/.kube/config. But still I am getting the same error.The  Kube-Rbac-proxy which i have deployed  is not authenticating the request

[2019-10-12 07:30] tarjintor opened #53 "Can I just use proxy without any authorization?"
My team has our own k8s cluster,and we used kube-prometheus,https://github.com/coreos/kube-prometheus

and our company has another prometheus that want to fetch data from exporters

but they will get 401 since they are not in k8s cluster that they can't authorized.

so I wish to just use kube-rbac-proxy proxy but not authorization

[2019-10-12 10:03] tarjintor commented on #53
I found another way solve this
I set exporter to bind $(IP):9100,and
proxy bind $(IP):9101,upstream $(IP):9100

[2019-10-12 10:03] #53 closed

[2019-11-21 10:32] huanggze opened #54 "exiting because of error: log: cannot create log: open /tmp/kube-rbac-proxy/xxx: permission denied"
I had the following errors with v0.4.1 on one of my worker node (Other nodes have no problem). It causes node-exporter to crash. No idea what's the root cause

[code]

My deployment yaml is like
[code]

[2019-11-22 01:18] brancz commented on #54
What we do is simply create an empty dir for /tmp, but ideally kube-rbac-proxy simply wouldn't do this at all. This is klog doing this, if you have a suggestion of how to prevent this I'm all ears. I also think that `--logtostderr` may also fix this.

[2019-11-22 05:24] huntunshule commented on #54
This command successfully solved my problem`--logtostderr`

[2019-11-27 02:00] #54 closed

[2020-01-03 00:23] sachinmsft opened #58 "Does it supports HTTPS?"
From the documentation it seems that it provides the authorization and authentication of the client(Prometheus in this case) but does not provide the end to end TLS communication encryption.
Is my understanding correct ?

[2020-01-06 13:25] brancz commented on #58
I'm not sure what you mean by end to end TLS communication encryption. kube-rbac-proxy is perfectly capable of serving traffic via TLS and verify client certificates if that's what you are asking.

[2020-01-07 01:03] sachinmsft commented on #58
Thanks @brancz . When I read the documentation I understood that this proxy is only capable of doing authentication and authorization of the connection initiated pod.
what server certificate it uses for TLS ? I don't see any certificate generation steps anywhere.

[2020-01-07 01:24] sachinmsft commented on #58
Seems It takes
--tls-cert-file string
--tls-cipher-suites strings
--tls-min-version string
--tls-private-key-file string

parameters and we can create and provide the server cert and private key to support HTTPS
is my understanding correct ?

[2020-01-07 01:25] sachinmsft commented on #58
Though I don't see that server cert is being passed in Kube-Prometheus project https://github.com/coreos/kube-prometheus/blob/master/manifests/node-exporter-daemonset.yaml#L45

[2020-01-07 07:05] brancz commented on #58
When no cert is specified but a secure listen address is passed as a flag then kube rbac proxy generates a self signed cert at startup.

[2020-01-07 18:44] sachinmsft commented on #58
Thanks @brancz . closing the issue now.

[2020-01-10 00:50] sachinmsft commented on #58
If kube rbac proxy is using self signed cert then how Prometheus is authenticating the kube-rbac-proxy server. ?

[2020-01-10 07:41] brancz commented on #58
In kube prometheus the default is to skip cert issues. TLS is also only about transport security, authentication happens using the service account token.

[2020-01-10 18:54] #58 closed

[2020-01-16 06:45] sachinmsft commented on #58
Yes, I completely understand the authentication part. I still have doubt about TLS security. Is there any reason to have default as to skip the cert issues. In this case any other server can respond with its self signed cert and client (Prometheus) will assume that it is talking to right target but actually it is not. How we are solving these problems?

[2020-01-16 10:25] brancz commented on #58
Unfortunately there is not “the” solution to TLS provisioning. There are many but there is not one built into kube so we don’t want to force some solution onto people. We use open shift mechanisms in our downstream use for this for example, but it’d be awesome if someone wanted to contribute cert manager support on kube prometheus for example.

[2020-02-17 09:18] #18 closed

[2020-03-05 16:24] YiannisGkoufas opened #63 "Cannot Debug context canceled Error"
Hi,

I have been getting this error from kube-rbac-proxy sidecar and I am really struggling to understand what is the reason behind it. kube-rbac-proxy is a sidecar to this deamonset:

[code]
The logs I can see in the pod are these:

[code]

This error seems to be coming from the golang.org/x/net library, but I cannot understand how to investigate it more.
The amazing thing is that in one of the (

[2020-03-05 16:29] YiannisGkoufas commented on #63
Just an additional comment. Although in the daemonset yaml I posted there is the `registry.redhat.io/openshift3/ose-kube-rbac-proxy:v3.11` image, I have tried and built/tested myself kube-rbac-proxy in master and 0.4.1 version with the exact same behavior

[2020-03-11 12:52] shift commented on #32
Any updates on this? Would love to not have to build my own amd64/arm64/arm images.

[2020-03-17 11:53] brancz commented on #63
This log line means that the client cancelled the request, there's not much we can/should do here I think.

[2020-04-20 10:28] dongwangdw opened #65 "rewrites exampale does not work."
I run this example in ocp 4.4.

But I got this error: `proxy.go:86] Bad Request. The request or configuration is malformed`
And from the code, I found that the client url is not right, and it should have a query parameter as
namespace="default".  Or it will raise error here like the one above. Then I am confused that what does this rewrite means? What is the expected behaviour here.

[2020-04-23 08:45] brancz commented on #65
Unless you really understand why you need the rewrite feature, you probably don't need it :) I recommend reading the docs here if you haven't already: https://github.com/brancz/kube-rbac-proxy/tree/master/examples/rewrites#rewriting-subjectaccessreviews-example

That said I think you're right, that the default curl the client runs does not contain the `?namespace=default` query parameter, so it er

[2020-04-23 14:10] dongwangdw commented on #65
OK. Thanks for explanation. I guess I missed the doc part.

[2020-04-23 14:10] #65 closed

[2020-04-30 03:32] ddysher opened #68 "Protection in case of attacker obtaining full control over a Pod"
Hi

Thanks for the great tool.  After experimenting with the project, there's one thing i'm not quite sure about.  IIUC, kube-rbac-proxy will run as a reverse proxy alongside with the component being protected. If an attacker obtain full control over a Pod (e.g. Prometheus), then it can still use the token inside the pod to access other endpoints (e.g. kube-state-metrics), in which case, the infor

[2020-04-30 14:17] mcristina422 commented on #23
Was there any progress made in turning this into a SIG project? I'm definitely in support of this

[2020-05-03 08:58] brancz commented on #23
I'd still like to make this happen and there were no objections when I last attended sig-auth, I just haven't had the time to follow up on it.

[2020-05-04 08:13] brancz commented on #68
You're correct in some regard, although it doesn't really have anything to do with kube-rbac-proxy. This is the case for any Prometheus pod that gets compromised, or even further, if credentials get compromised, then anyone can impersonate the entity the credentials were issued for. In regard to ServiceAccount tokens, there is one thing that improves the situation, which is audience scoped tokens.

[2020-05-04 14:38] ddysher commented on #68
Thanks @brancz, that helps :)

[2020-05-04 14:38] #68 closed

[2020-05-06 10:58] helios741 opened #69 "k8s 1.16 authenticate fialed"
I use kube-rbac-proxy as the sidecar of node-expoter,deployed in 1.16 k8s cluster.The following problem appears:

**kubectl logs node-exporter-9g5h7 -f kube-rbac-proxy**
[code]

The image used is kube-rbac-proxy: v0.3.0.

clusterrole and culsterrolebinding are also correct.

apiserver's runtime-config parameter also includes authentication.k8s.io/v1beta1=true.

This configuration is good in a 1.8

[2020-05-06 11:38] helios741 commented on #69
update:
I can update the image to v0.5, what is the reason?

[2020-05-07 08:23] brancz commented on #69
Definitely use the latest version available :)

The error doesn't seem like it's related to kube-rbac-proxy though, but rather something about your cluster setup.

[2020-05-09 03:55] helios741 commented on #69
@brancz

[2020-05-09 03:57] helios741 commented on #69
@brancz
The 0.3.1 image I used is fine.
Is it because of this: [0.3.1 CHANGELOG](https://github.com/brancz/kube-rbac-proxy/blob/master/CHANGELOG.md#031--2018-06-20)
Do you need to see the configuration of my cluster?

[2020-05-11 15:29] brancz commented on #69
As yes seems like it. Just upgrade to latest :) it seems it was solved in 0.3.1

[2020-05-12 02:23] helios741 commented on #69
@brancz
Can you tell me what caused the authentication failure?
thanks~

[2020-05-13 06:18] brancz commented on #69
It was a bug in the go runtime. I would have to dig that up myself I don’t know off the top of my head.

[2020-06-04 09:19] c0ffeec0der opened #73 "Image is not updated in quay.io/coreos/kube-rbac-proxy"
Hello, Could you please upload version 5.0.0 to quay.io/coreos/kube-rbac-proxy? Thank you

[2020-06-04 09:51] brancz commented on #73
Done :)

[2020-06-07 05:43] c0ffeec0der commented on #73
Thanks :)

[2020-06-07 05:43] #73 closed

[2020-06-08 09:31] Koooala opened #74 "unknown flag: --auth-token-audiences"
I deplyed a node-exporter , kube-rbac-proxy is sidecar with node-exporter, but the kube-rbac-porxy log 'unknown flag: --auth-token-audiences' . if my other container wants to get node-exporter metrics, what should i do.

[2020-06-08 09:37] #74 closed

[2020-07-03 09:56] benjaminhuo opened #79 "arm64 image pulled shows amd64 as its arch"
I pull the arm64 image by digest like below
[code]
![image](https://user-images.githubusercontent.com/18525465/86457399-2e4f2f80-bd56-11ea-9a00-ba5047c12e90.png)

But docker inspect shows it's amd64 :
![image](https://user-images.githubusercontent.com/18525465/86457600-7ec68d00-bd56-11ea-8f38-e3ded15cabb2.png)

[2020-07-03 10:56] brancz commented on #79
cc @paul

[2020-07-03 10:56] brancz commented on #79
cc @paulfantom

[2020-07-03 11:36] paulfantom commented on #79
Yes, this is expected when using `manifest-tool`. Did any of the following commands failed for you on arm64 arch? :

[code]
?

[2020-07-04 03:31] benjaminhuo commented on #79
@paulfantom I pull the arm64 image by digest on a amd64 machine.
It works for other images like prometheus
[code]

[2020-07-04 18:38] paulfantom commented on #79
This is a side-effect of building all images on amd64 and not manipulating source manifests. Such an approach was chosen for simplicity, but if this is causing issues with running images, we would need to rethink how images are built.

---

I understand that and I am trying to figure out the severity of this issue. If kube-rbac-proxy image is not working for you then this is quite a big issue. How

[2020-07-13 17:49] jimmyjones2 opened #80 "Support service account tokens"
I noted in the comments about the risks of passing around the service account tokens.

Newer versions of Kubernetes support a projected token with an expiry and audience - https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account-token-volume-projection

Don't think this should need many changes to support

[2020-07-13 17:54] #80 closed

[2020-07-15 06:33] majian159 opened #81 "Upload image to DockerHub?"

[2020-07-15 07:50] brancz commented on #81
If someone wants to put in the work for this I'm not against it, but I'm not going to do it.

[2020-07-15 08:01] majian159 commented on #81
Thanks, i get it.

[2020-07-15 08:01] #81 closed

[2020-07-16 17:38] nabokihms opened #82 "Request client certificates"
Hello. First of all, thank you for this proxy. It works like a charm.

I have a problem with that there are no client certificates in the request. The problems seem to be related to server tls configuration. I think we need to change tls config option `ClientAuth` to `RequestClientCert` (default value is `NoClientCert`).
[code]
The main idea behind this is to extract every client cert and validate

[2020-08-11 18:16] mrrandrade commented on #24
Hey guys! OP here! How you doing? It's been a while.

I want to drop the solution I used in favour of kube-rbac-proxy and I'm trying once again, now with the new version!

Unfortunately I still can't get certs to work. Using 0.6.0.

**Short Version**:

I was 99,9% inclined to say that kube-rbac-proxy is dropping my connection without even trying because it doesn't recognize my cert's CA because:

[2020-08-14 07:35] bsctl opened #84 "run the process as no root"
Hello thanks for sharing this project. Is there any special requirement for running the process as root?

Can we build the `Dockerfile` with

`USER nonroot:nonroot`

safely?

We're running `kube-rbac-proxy` in an environment with `PodSecurityPolicy` enabled and want to restrict to no root.

[2020-09-08 15:16] sethev commented on #84
Any thoughts on whether this is possible?

[2020-09-15 06:19] #84 closed

[2020-09-22 06:39] #25 closed

[2020-10-07 13:59] paulfantom opened #93 "Move CI to github actions"
It might be beneficial to move to GitHub Actions as stated in https://github.com/brancz/kube-rbac-proxy/pull/92#issuecomment-704926156

[2020-10-07 14:08] markkuleppala commented on #93
Hello! I could work on this issue.

[2020-10-08 08:03] paulfantom commented on #93
Thanks! :100:

[2020-10-11 18:03] markkuleppala commented on #93
I'm opening a PR soon. For some reason part of the e2e tests fail, but otherwise the build file is complete.

[2020-10-19 09:22] paulfantom opened #96 "Replace context.TODO() calls with proper context"
New k8s client-go forces passing context in function calls. It would be good to pass proper context instead of TODO.

This should be considered as a follow-up to https://github.com/brancz/kube-rbac-proxy/pull/95

[2020-10-23 16:33] hectorj2f opened #97 "Is there a plan to do a patch release with support to use `--ignore-paths` ?"
I pulled v0.7.0 but it doesn't support the flag `--ignore-paths`. Would you release a patch release ?

[2020-10-31 07:40] brancz commented on #97
cc @simonpasquier @paulfantom anyone wants to cut a release? :)

[2020-11-02 14:01] hectorj2f commented on #97
Yes, that would be great!

[2020-11-03 10:25] hectorj2f commented on #97
@brancz Is there any way I could help to cut a release here ?

[2020-11-04 13:54] #97 closed

[2020-11-10 08:58] 00mfg opened #101 "failed to start container "kube-rbac-proxy"
kubectl describe pod prometheus-operator-74d99cb4c8-mhft5 -n monitoring show below error,

"Error: failed to start container "kube-rbac-proxy": Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "chdir to cwd (\"/home/nonroot\") set in config.json failed: permission denied": unknown"

my kubernetes version 1.19.3 and docker version 19.0

[2020-11-11 01:36] 00mfg commented on #101
try modify deploymen yaml security context as fellow to solve the problem.

      securityContext:
          runAsNonRoot: True
          runAsUser: 65532
          runAsGroup: 65534

[2020-11-11 01:36] #101 closed

[2021-01-29 10:41] s-urbaniak opened #108 "Regression in Test/IgnorePath/WithIgnorePathNoMatch"
We seem to fail consistently in FAIL: Test/IgnorePath/WithIgnorePathNoMatch, compare https://github.com/brancz/kube-rbac-proxy/runs/1790596451?check_suite_focus=true.

This seems to be introduced as part of https://github.com/brancz/kube-rbac-proxy/pull/104 but it might be a red herring as the e2e test there passed https://github.com/brancz/kube-rbac-proxy/runs/1569876652.

[2021-01-29 10:51] s-urbaniak commented on #108
Strange, this seems to be green now https://github.com/brancz/kube-rbac-proxy/runs/1790930013?check_suite_focus=true

It _might_ be a flake then.

cc @paulfantom

[2021-01-29 11:08] s-urbaniak commented on #108
The e2e tests seem to be flaky per se, now we have a failure in `FAIL: Test/AllowPath/WithPathAllowed` in the following run: https://github.com/brancz/kube-rbac-proxy/runs/1791026701?check_suite_focus=true

[2021-01-29 11:41] paulfantom commented on #108
It looks to me like we might be starting tests [too soon after `kind load`](https://github.com/brancz/kube-rbac-proxy/blob/master/.github/workflows/build.yml#L66-L67). It might be good to first check if that image is available and the start tests plus make tests more resilient.

[2021-02-17 19:04] lechen26 opened #109 "kube-rbac-proxy keeps restarting"
Hi

i have  GKE v1.17.14-gke.1600 with node-exporter:v0.18.1  and kube-rbac-proxy:v0.4.1.

recently node-exporter pods started to CrashLoopBack due to kube-rbac-proxy.
from the logs on the kube-rbac-proxy container i see the following:
[code]

seems like it  tries to bind on port 9100 on the POD IP and failed to do that and keeps restarting and get new IP until it finally works.
any idea?

10x

[2021-02-17 19:22] brancz commented on #109
Could it be that this happened after a rollout?

[2021-02-17 19:32] lechen26 commented on #109
i've checked further and seems like the underlying cause is the fact the underlying host was indeed preempted.
i have few node pools which are preemptible nodes and seems like this specific node was prermpted at the same time i saw the restart of the node-exporter pod.

the only issue i still see here, is the fact it got CrashloopBack and thats was related to the error
`failed to listen on secure

[2021-02-17 20:22] brancz commented on #109
My guess is that most likely for some reason two of the same pods were there (one of which was probably still terminating but still binding to the port, which caused this one not to be able to do so).

[2021-02-17 20:25] lechen26 commented on #109
checked further and based on the logs seems like the pod tried to  reach the OLD ip after preemption and once it failed it  tried again to the new IP and was able to do so.
so its probabaly the preemption process.

will check with GCP if that's expected, but doesnt seems related specifically to this service.
i guess you can close this issue.

10x for the major fast response :)

[2021-02-17 20:25] #109 closed

[2021-03-01 15:14] s-urbaniak commented on #93
i think we're done here :-) closing out as the PRs merged quite some time ago.

[2021-03-01 15:14] #93 closed

[2021-03-01 15:38] s-urbaniak opened #110 "enhancement: static authorization"
To reduce api server load I suggest to implement a static authorization scheme. If configured, then:

1. token access reviews would still be performed towards API server
2. subject access reviews would not be issued but rather validated locally against a static configuration

According to @deads2k this helps tremendously in reducing API server load when kube-rbac-proxy is used in high-volume scrap

[2021-03-01 16:10] brancz commented on #110
I like it :+1:

[2021-03-01 16:15] deads2k commented on #110
I recommend removing `APIVersion      string     `json:"apiVersion,omitempty"``.  All versions of a group.resource tuple are expected to be semantically equivalent.  That's why RBAC doesn't have it.

I would skip user.uid since no standard authorizer uses it.

The idea of a local authorization policy in addition to delegation seems like a good idea.

[2021-03-08 13:01] raz08 opened #111 "CVE-2016-2148 and CVE-2018-1000517 reported in kube-rbac-proxy in v0.4.0 and v0.4.1 respectively"
I received CVE report in kube-rbac-proxy, Is this resolved in later versions of kube-rbac-proxy ? or still exist?

[2021-03-08 15:01] simonpasquier commented on #111
The latest kube-rbac-proxy version (v0.8.0) is based on the [distroless](https://github.com/GoogleContainerTools/distroless) image so it is unaffected since the CVE you've mentioned are against busybox.

[2021-03-09 07:35] raz08 commented on #111
Sure, thanks simonpasquier . I will upgrade newer version and get the reports again.

[2021-03-09 14:04] #111 closed

[2021-03-12 15:14] simonpasquier commented on #82
Thanks for the report and sorry for the late reply! I did a quick test and I agree that we should be setting `ClientAuth: tls.RequestClientCert` [here](https://github.com/brancz/kube-rbac-proxy/blob/e4b31758aedb3d29d8f50d615828401a30d28c1e/main.go#L259). The fix itself is very simple but adding a test case is more involved. If someone wants to have a look, they're welcome :)

cc @s-urbaniak for aw

[2021-03-12 15:45] nabokihms commented on #82
I feel like I can give it a try if you do not mind.

[2021-03-15 14:02] s-urbaniak commented on #82
@nabokihms generally the addition of `RequestClientCert` makes sense to me, but out of curiosity to understand why we need that option, do you also want to contribute a client-cert based authenticator in kube-rbac-proxy as well?

[2021-03-15 14:24] nabokihms commented on #82
The client-cert based authenticator is already in the code.

Actually, [this authenticator](https://github.com/brancz/kube-rbac-proxy/blob/master/pkg/authn/delegating.go#L57) is a combination of various authenticators.

Look [here](https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/apiserver/pkg/authentication/authenticatorfactory/delegating.g

[2021-03-15 14:26] nabokihms commented on #82
I forked this proxy and tested it (I think it was a year ago). In our Kubernetes clusters, we use both tokens and certs.

[2021-03-15 15:04] s-urbaniak commented on #82
Ahh, ok i was always under the impression that the delegating authenticator just does the token review. Yes, this makes perfect sense to me now :+1: Indeed, that would be a great contribution!

[2021-03-17 12:51] #82 closed

[2021-03-17 16:11] s-urbaniak commented on #108
@paulfantom i think we have to dig deeper here, the patch didn't seem to help in a recent PR.

[2021-03-18 14:15] sparkoo opened #114 "Pass Authorization header with bearer token to upstream app"
Is there a way in kube-rbac-proxy to pass Authorization header with bearer token to the upstream application? I can see only option to pass user and groups, but not whole authorization header. I guess it's removed by apiserver authentication https://github.com/kubernetes/apiserver/blob/master/pkg/authentication/request/bearertoken/bearertoken.go#L58

If it is really not possible at the moment, wou

[2021-03-18 16:26] sparkoo commented on #114
I've created draft PR to this https://github.com/brancz/kube-rbac-proxy/pull/115

[2021-03-24 08:34] sparkoo commented on #114
cc: @brancz

[2021-03-24 12:16] brancz commented on #114
I don't currently have much time for this project. Maybe @s-urbaniak can have a look?

[2021-03-29 14:17] deads2k commented on #114
The idea of the kube-rbac-proxy is to handle the details of authentication and authorization for an application that is not kube-aware.  Passing a bearer token through to the upstream application itself implies that application knows how to handle kube credentials.  If that is the case it is more appropriate for the upstream application to terminate authn/authz itself using the k8s.io/apiserver li

[2021-03-29 17:46] s-urbaniak commented on #114
I agree with @deads2k here. It seems your use case does not need kube-rbac-proxy in the first place so exposing your application directly seems the better way forward.

[2021-03-29 21:09] sparkoo commented on #114
I see your point @deads2k @s-urbaniak . However, it not possible in our use-case, because we don't control the upstream application. We're evaluating kube-rbac-proxy in Eclipse Che, which is kubernetes native IDE. We're running user's workspaces, which are composed of multiple containers (editor, plugins, language servers, tooling, ...) and possibly user's containers. And we want to secure that wi

[2021-03-30 16:01] s-urbaniak commented on #108
ok, i think i know what is going on. while tests are being executed, kube-rbac-proxy deployments are being deleted but we are not waiting until those instances are out of service interfering with subsequent tests.

[2021-03-31 15:03] #108 closed

[2021-04-19 18:21] nikhil-srivastav opened #119 "Fix needed for codecov breach"
https://about.codecov.io/security-update/ talks about security breach from codecov , and hence needs recommended fix.

Can we get the fix  ?

[2021-04-19 18:26] #119 closed

[2021-04-24 18:13] lentzi90 commented on #79
For me this results in image pull backoff. I guess it just refuses to even try to use the image since it doesn't find the correct arch in the manifest.

[code]

I guess I could pull the correct image if I don't try to use the manifest, but that sort of defeats the purpose since I have a cluster with both amd64 and arm64 Nodes.

[2021-04-26 06:52] paulfantom commented on #79
@lentzi90 kube-rbac-proxy project does not publish images in `gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0`. Those images are published by kubebuilder project and are not multi-arch.

Correct images are published only in quay.io at `quay.io/brancz/kube-rbac-proxy`

[2021-04-26 07:04] lentzi90 commented on #79
Oh, thanks for pointing that out! Nothing to see here then, move along :smile:
I ended up here while trying out kubegres.io, which uses the kubebuilder image from GCR...

[2021-05-07 07:34] #110 closed

[2021-06-09 04:51] #114 closed

[2021-06-14 17:33] cehoffman opened #128 "Support client certificate authenticated upstreams"
One usecase we have to transform the client certificate authenticated upstream
into a bearer token authenticated endpoint in order to avoid having to
distribute the client certificates, and instead rely on kubernetes service
accounts for the distribution.

[2021-06-15 13:27] brancz commented on #128
I think this generally makes sense.

cc @s-urbaniak

[2021-06-15 14:31] s-urbaniak commented on #128
@cehoffman that idea sounds good to me as well :+1: I image having `--upstream-client-cert-file`/`--upstream-client-key-file` options which specify the client cert key material. Do you want to give it a try? Happy to review the PR :-)

[2021-06-29 08:18] mfilocha opened #129 "Releases 0.9.0 and 0.10.0 have wrong date tag"
Releases 0.9.0 and 0.10.0 have date tag displayed in GitHub of year 2020 instead of 2021.

[2021-06-29 08:25] paulfantom commented on #129
Whoops. Good catch!

I updated release titles since this is not impacting anything else (release pointing to the same git tag, sha, etc.).

[2021-06-29 08:25] #129 closed

[2021-07-12 09:01] knopt opened #130 "Support regex-based paths ignoring for RBAC authz/authn"
Hi there!

I'd like to propose a new feature, which would allow to ignore authn/authz for specific paths, based on a regex. This would allow to handle more complex authn/authz logic than `ignore-paths` flag does.

I would suggest to introduce `ignore-regex` flag, which would accept single go-style regex, and exclude any path that matches the regex from authn/authz. This exclusion would be addition

[2021-07-12 09:26] brancz commented on #130
cc @s-urbaniak

[2021-07-15 09:55] stlaz opened #131 "kube-rbac-proxy segfaults when no client-ca is configured but client-cert auth is attempted"
When a 3rd party attempts to use client-certificate authentication, kube-rbac-proxy will panic if it does not have any client CAs configured.

The observed panic:
[code]

[2021-07-15 14:50] simonpasquier commented on #131
Good catch! I came to the same conclusion while investigating the failures but you were faster :)

[2021-07-19 12:10] knopt commented on #130
@brancz  @s-urbaniak  Do you have any suggestions?

[2021-07-22 16:22] #131 closed

[2021-07-26 08:26] s-urbaniak opened #134 "Introduce linter to compilation phase"
Given https://github.com/brancz/kube-rbac-proxy/pull/132 we should introduce some linter mechanism to catch bugs like this in forehand. I.e. https://github.com/brancz/kube-rbac-proxy/issues/131 could have been catched using https://staticcheck.io/docs/checks#SA4023.

[2021-07-27 08:00] s-urbaniak commented on #130
@knopt thank you for the feature suggestion! A couple of comments:

- Instead af allowing full-blown regular expressions in security sensitive proxies I would rather suggest to with a simpler wildcard based approach, i.e. using https://pkg.go.dev/path#Match.
- Introducing interleaving command line parameters can lead to unexpected results. We had a similar discussion in https://github.com/brancz/k

[2021-07-27 09:13] knopt commented on #130
@s-urbaniak  thanks for the reply!

1. Using https://pkg.go.dev/path#Match sounds great!
2. Reusing `--ignore-paths` and `--allow-paths`: that makes sense when using Match as all special characters of Match are restricted characters in URI. I guess here we would rely on the fact that set of allowed URI characters (see https://www.ietf.org/rfc/rfc3986.txt) is exclusive to Match special characters.

[2021-07-27 12:04] #134 closed

[2021-07-30 09:28] s-urbaniak commented on #130
@knopt feel free to try #135

[2021-07-30 09:28] #130 closed

[2021-08-14 10:20] andylibrian opened #139 "upstreamForceH2C could be independent with insecureListenAddress"
Hi, Thanks for the work on this proxy. I have a question, is there any reason `--upstream-force-h2c` is tied to `--insecure-listen-address`?

https://github.com/brancz/kube-rbac-proxy/blob/fa09bd61bfd7fd1b6312aac131a1f65e5cf01296/main.go#L355-L356

My use case is that the upstream is a plain / insecure gRPC, but the kube-rbac-proxy runs with TLS (as a sidecar). I tried to move this code block (`if

[2021-08-16 11:25] s-urbaniak commented on #139
@andylibrian per definition h2c (http/2 over TCP) is cleartext and not encrypted, so combining it with a secure upstream transport does not suit.

[2021-08-16 11:47] s-urbaniak commented on #139
@andylibrian scratch my comment, i see what you mean :thinking: indeed, you are right. having a secure terminating endpoint with kube-rbac-proxy while having an insecure upstream actually does make sense.

Happy to review the PR once you have it.

[2021-08-16 11:49] s-urbaniak commented on #139
I am not sure if reverseproxy plays well with a h2c insecure upstream, see https://github.com/brancz/kube-rbac-proxy/pull/2/files#diff-2873f79a86c0d8b3335cd7731b0ecf7dd4301eb19a82ef7a1cba7589b5252261R198.

[2021-08-17 03:34] andylibrian commented on #139
@s-urbaniak Thanks for taking a second look, and for the information about h2c.

Looking at the referenced issue in the comment you mentioned (https://github.com/golang/go/issues/14141#issuecomment-388594444), it seems like h2c has been implemented in `golang.org/x/net/http2/h2c`. Then I saw this commit (26399541337f92eea845d32ffa3afd7596099188) updated the h2c implementation from `github.com/hkwi

[2021-08-25 13:03] sparkoo opened #142 "Multiple upstreams by port"
I have a pod with multiple containers listening on various ports and I have single service to that pod with all ports exposed. I would like to protect the service so only owner with proper authorization token can access them. As far as I understand, it would mean to deploy kube-rbac-proxy container in front of every exposed port, which is a huge cost. Is there a way how to configure single kube-rb

[2021-09-20 05:56] #142 closed

[2021-09-20 13:23] s-urbaniak opened #143 "CI fails with timeout issues during linting"
See https://github.com/brancz/kube-rbac-proxy/pull/140/checks?check_run_id=3651907634

[2021-09-21 05:53] #143 closed

[2021-09-22 09:12] m-yosefpor opened #145 "support for prefix allow-paths"
Currently it is possible to pass a comma separated list of allow-path to kube-rbac-proxy with a flag:

[code]

But these paths are exact match path. However the there should be a way to specify are path with some prefix are ok. E.g.

[code]

which should then allow all path such as `/api/v1/label/foo1/bar1 , /api/v1/label/foo2/bar2`

P.S. (Just extra context on our use-case):
For prometheus metric

[2021-09-22 11:06] s-urbaniak commented on #145
@m-yosefpor we merged wildcard support for allowing paths in https://github.com/brancz/kube-rbac-proxy/pull/135, but as I recognized we missed updating the documentation. Maybe you want to give it a try? :)

[2021-09-23 12:53] amitsadaphule commented on #32
@brancz I have a requirement for using the kube-rbac-proxy image on Power(ppc64le) architecture for [IBM Cloud Operators](https://github.com/IBM/cloud-operators) deployment. I tried using the images available at https://quay.io/repository/brancz/kube-rbac-proxy?tab=tags and https://console.cloud.google.com/gcr/images/kubebuilder/GLOBAL/kube-rbac-proxy?gcrImageListsize=30. But it seems that the ima

[2021-09-24 12:48] amitsadaphule commented on #32
@brancz @s-urbaniak can you please let me know your thoughts on my comment above?

[2021-09-24 20:55] raptorsun opened #146 "Mix of static authorizer and subjectaccessreviews config deactivates the static authorizer"
When putting both static authorizer and normal configs using subjectaccessreviews together in the config file, the part of static authorizer is not taken into account.

Here is an example. I would like to config kube-rbac-proxy to allow both using a bearer token and using a static authorizer to get access to the service behind its proxy.

- For the path "/metrics", I want to use the static authori

[2021-09-28 12:55] s-urbaniak commented on #32
@amitsadaphule happy to accept a PR if you have a fix. I don't have much knowledge for that archictecture.

[2021-09-28 12:57] s-urbaniak commented on #146
cc @ibihim can you take a look?

[2021-09-28 18:47] ibihim commented on #146
I will try to do so next week. Thanks for the pointer

[2021-09-28 19:21] cityofships commented on #79
[code]

[2021-10-20 20:05] ronberna commented on #79
We are also having an issue with this.  We read the manifest to determine which image to pull based on the architecture.  We are getting the following error when we try and deploy to an arm node:
**Failed to pull image "quay.io/brancz/kube-rbac-proxy:v0.10.0": rpc error: code = Unknown desc = no matching manifest for linux/arm64/v8 in the manifest list entries**

[2021-11-15 13:11] amitsadaphule commented on #32
@s-urbaniak can you please let me know when you're planning to push out a new tag/release? I need to use that for adding Power support to [IBM Cloud Operators](https://github.com/IBM/cloud-operators) repo.

[2021-11-17 01:00] rbranche opened #148 "Fix High/Medium CVEs found in kube-rbac-image"
CVEs that can be fixed:

| Severity | CVE ID        | Details             | Mitigation |
| -------- | ----------- | -------------- | ---------- |
| Critical | CVE-2021-38297 CVSS2: 9.3 CVSS3: 9.8 | https://nvd.nist.gov/vuln/detail/CVE-2021-38297 | Update Golang version to 1.17.3 |
| High | CVE-2021-3121 CVSS2: 7.5 CVSS3: 8.6 | https://nvd.nist.gov/vuln/detail/CVE-2021-3121 | Update to kubernetes p

[2021-11-22 02:32] wenhuwang commented on #63
Is there a result of this questions? I have the same questions with kube-rbac-proxy:0.4.1 images.
[code]

[2021-11-29 02:11] sthaha opened #151 "Examples no longer work on k8s 1.22.0"
Examples and Tests use deprecated `apiVersion` for `ClusterRole`  and `Deployment` and thus can't be `kubectl applied`

see e.g. https://kubernetes.io/docs/reference/using-api/deprecation-guide/#deployment-v116

[2021-12-01 11:40] zhoumingcheng opened #152 "Unable to authenticate the request due to an error"
When I deploy Kube Prometheus in the k8s environment of containerd runtime. Kube RBAC proxy under node exporter always reports an error.

[code]

Environment: kubelet1.21.1, containerd v1.5.7

[2021-12-01 19:27] ibihim opened #153 "Split up `func main`"
## What

I would like to ask, kindly, if I might split up the `func main` in smaller functions that are logically connected. I wouldn't split the `run.Group` logic as it is not a good idea to separate that, but the rest has a lot of potential.

## Why

A lot of things are going on in the `func main` and I thought it would help me to digest it with less mental load, when chunked logically. I don't

[2021-12-02 13:55] simonpasquier opened #154 "Ability to configure several resource request authorizations"
Right now kube-rbac-proxy can be configured with only one resource request authorization (as described in https://github.com/brancz/kube-rbac-proxy/tree/master/examples/resource-attributes). It would be useful to specify more than one resource request.

We have a practical use case with the OpenShift cluster-monitoring operator: it deploys Alertmanager with an OAuth proxy sidecar that authorizes o

[2021-12-02 13:55] s-urbaniak commented on #154
cc @ibihim

[2021-12-02 13:57] s-urbaniak commented on #154
I am positive on this change :+1: one way to introduce this change without breaking existing behavior is to add `--config-files` (plural) in addition to the existing `--config-file` setting.

[2021-12-02 16:14] #151 closed

[2021-12-03 12:48] s-urbaniak commented on #153
feel free to refactor, PRs are certainly welcome :-)

[2021-12-06 16:20] amitsadaphule commented on #32
@s-urbaniak @brancz any update on the above?

[2021-12-26 12:13] bilalcaliskan commented on #96
@paulfantom hello, i would like to contribute to that project! can you assign that issue to me please?

[2021-12-28 12:05] #148 closed

[2022-01-03 12:55] paulfantom commented on #96
@bilalcaliskan go for it :)

[2022-01-24 09:02] hhprm commented on #152
Any update/fix on this issue?

[2022-01-28 21:02] rbranche opened #158 "Please create tag/release for recent changes on the repo"
Please create tag/release for recent changes on the repo since last release (0.11.0 on August 2):

#140
#141
#144
#147
#149
#150

[2022-01-28 21:05] rbranche commented on #158
cc @s-urbaniak @paulfantom @brancz @jan--f

[2022-01-31 08:58] s-urbaniak commented on #158
@ibihim is in the process of creating a release

[2022-01-31 09:00] s-urbaniak commented on #152
I suggest to open an issue against kube-prometheus, but generally: the request to api-server is timing out. please verify if node-exporter has network access to it.

[2022-01-31 09:00] #152 closed

[2022-02-09 16:53] strzonnek commented on #158
any update on the release?
The CVEs fixes are quite important.
Thanks, Stephan

[2022-02-10 10:08] s-urbaniak commented on #158
once https://github.com/brancz/kube-rbac-proxy/pull/160 lands, there will be a new release prepared.

[2022-02-23 13:16] camilamacedo86 commented on #23
HI folks,

@brancz @droot do we have any updates on this one?

[2022-02-23 14:05] metalmatze commented on #23
I know that it was recently (Feb 2nd) discussed in SIG Auth: https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/edit#
cc @s-urbaniak & @ibihim

[2022-02-23 16:55] ibihim commented on #23
@camilamacedo86, we pitched it to sig-auth again (on the 2nd of Feburary, 2022) and the process started. Currently we have a review as a first next step:

https://github.com/brancz/kube-rbac-proxy/pull/162

[2022-03-31 18:24] rxl7906 opened #163 "Fix Critical CVE in kube-rbac-proxy image"
During a Blackduck Binary Analysis scan, we found this Critical CVE-2022-23806 for golang-runtime 1.16.12.

Severity | CVE ID | Details | Possible Mitigation
-- | -- | -- | --
Critical | CVE-2022-23806 CVSS2: 6.4 CVSS3: 9.1 | https://nvd.nist.gov/vuln/detail/CVE-2022-23806 | Update go to version 1.17.7

Would it be possible to have this CVE addressed?

[2022-04-05 07:44] strzonnek commented on #158
@s-urbaniak as [#160](https://github.com/brancz/kube-rbac-proxy/pull/160) has been merged, will there be a release in the near future?
Regards, Stephan

[2022-04-06 08:26] nabokihms opened #165 "Reload authenticator and authorizer on config file change"
### Use case

There is no way to change authorization settings on the fly. If you are running kube-rbac-proxy as a sidecar container for an application in Kubernetes, you need to restart the pod/container on every configuration file change. This is ok for lightweight applications, but for the one which consumes a lot of time on startup, this is unwanted behavior.

### Proposed solution
Add a fsnot

[2022-04-07 13:43] ibihim commented on #163
Yes, we will try to take it into the release.

[2022-04-07 13:43] ibihim commented on #158
Yes, we want to do that. We will also like to take a quick look into https://github.com/brancz/kube-rbac-proxy/issues/163, if we should take it into the release.

[2022-04-08 17:41] ibihim commented on #158
@strzonnek, v0.v12 is out.

[2022-04-08 17:43] ibihim commented on #163
We used 1.17.6 for version v0.12.0. We will follow up with a v0.12.1 version soon that is using 1.17.7 for building the binaries.

[2022-04-08 18:33] strzonnek commented on #158
sure, thanks for your efforts!
Regards, Stephan

[2022-04-25 13:09] ibihim commented on #158
Ok, so I will close it. I hope we will do it more regularly now. If I am missing anything, just reopen and tag me :smile:

[2022-04-25 13:09] #158 closed

[2022-04-25 13:12] ibihim commented on #10
This is a stale issue. If there is no request for keeping it open within a month, I would like to close it.

[2022-04-25 13:13] ibihim commented on #16
This is a stale issue. If there is no request for keeping it open within a month, I would like to close it.

[2022-04-25 13:15] ibihim commented on #24
This is a stale issue. If there is no request for keeping it open within a month, I would like to close it.

[2022-04-25 13:16] ibihim commented on #26
This is a stale issue. If there is no request for keeping it open within a month, I would like to close it.

[2022-04-25 13:19] ibihim commented on #63
This is a stale issue. If there is no request for keeping it open within a month, I would like to close it.

[2022-04-25 17:14] ibihim opened #168 "Sig-Auth Post-Acceptance TODOs"
- [ ] Consider updating `tls-reload-interaval` with k8s.io/apiserver code as it auto-reloads TLS ([link](https://github.com/brancz/kube-rbac-proxy/pull/162#discussion_r809242286), [link](https://github.com/brancz/kube-rbac-proxy/pull/162#discussion_r840662155))
- [ ] Consider checking for the audience in the token provided ([link](https://github.com/brancz/kube-rbac-proxy/pull/162#discussion_r8092

[2022-04-25 17:14] ibihim opened #169 "Sig-Auth Pre-Acceptance TODOs"
- [x] Remove `insecure-listen-address` as it is dangerous to do so with an auth proxy ([link](https://github.com/brancz/kube-rbac-proxy/pull/162#discussion_r809240492))
- [x] Add client certificates for kube-rbac-proxy to upstream ([link](https://github.com/brancz/kube-rbac-proxy/pull/162#discussion_r809243899))
- [ ] Update developer documentation to emphasize the distinction between authn opts a

[2022-04-25 17:17] ibihim commented on #23
I created two issues that track tasks that need to be done:
https://github.com/brancz/kube-rbac-proxy/issues/168
https://github.com/brancz/kube-rbac-proxy/issues/169

I will close this issue within a month, if no one complains, as the task 169 should reflect the progress more or less accurately.

[2022-04-27 18:57] enj commented on #169
When writing tests for the proxy, please make sure to have coverage for http1 only, http2 only and http1+http2.  https://github.com/rancher/rancher/security/advisories/GHSA-pvxj-25m6-7vqr is an example of a proxy CVE that only occurs over http1.

[2022-06-03 17:58] alisalmaji opened #172 "How to use with kube-system namespace components?"
As you described that your use case to writing this project was to securing nodeexporter, how we can use this to secure somethings like kube-proxy or coredns metrics url?

This components are in kube-system namespace and there is a probability to be overwritten by kubespary .

Is it best practice to inject sidecar with kube-system components?

[2022-06-07 09:10] ibihim commented on #69
I will it close as stale. Feel free to reopen, if it is still an issue.

[2022-06-07 09:10] #69 closed

[2022-06-07 09:11] ibihim commented on #52
I will close the issue as being stale. Feel free to reopen it, if it is still an issue.

[2022-06-07 09:11] #51 closed

[2022-06-07 09:12] ibihim commented on #26
I will close the issue as being stale. Feel free to reopen it, if it is still an issue.

[2022-06-07 09:12] ibihim commented on #24
I will close the issue as being stale. Feel free to reopen it, if it is still an issue.

[2022-06-07 09:12] #24 closed

[2022-06-07 09:12] ibihim commented on #23
I will close the issue as being stale. Feel free to reopen it, if it is still an issue.

[2022-06-07 09:12] #23 closed

[2022-06-07 09:12] ibihim commented on #16
I will close the issue as being stale. Feel free to reopen it, if it is still an issue.

[2022-06-07 09:12] ibihim commented on #10
I will close the issue as being stale. Feel free to reopen it, if it is still an issue.

[2022-06-07 09:18] ibihim commented on #165
As this using k8s as its framework, is there some solution in k8s that we could reuse? E.g. while updating the k8s dep, we added dynamic CA file loading by leveraging existing functionality at k8s (https://github.com/brancz/kube-rbac-proxy/blob/762a3c451b0c848d951c9453f4044cfc9b6e6a6a/pkg/authn/oidc.go#L39=).

[2022-06-07 09:21] ibihim commented on #139
There was PR merged for this issue, so I assume it is done. I'll close it. If there is something open, please reopen the issue again.

[2022-06-07 09:21] #139 closed

[2022-06-07 12:43] ibihim commented on #145
https://github.com/brancz/kube-rbac-proxy/pull/173

[2022-06-07 19:01] nabokihms commented on #165
Actually, no. AFAIC, there is nothing like this in Kubernetes. Authenticators are configured with flags mostly, not config files.

The idea of dynamic reloading came to my mind because I am working on the feature for Kubernetes which supposed to use dynamic reloading. Here is an example of authenticator wrapper https://github.com/flant/kubernetes/blob/486b642e2c5bb59fa14800159ac4e5fbf2bb5237/pkg/k

[2022-06-13 11:38] ibihim commented on #145
We updated the README.md. Hopefully it is now clear.

In case there are more questions with regards to this issue, feel free to reopen it.

[2022-06-13 11:51] s-urbaniak commented on #165
@nabokihms directly watching configfile changes using fsnotify in k8s is very tricky due to the way how k8s mounts secrets/configmaps, see https://github.com/brancz/kube-rbac-proxy/pull/45#issuecomment-503556546.

I am sceptical about a way to implement this in a properly working way. Additionally, in-process hot-reloading configmaps is something that needs a lot of state keeping and good testing

[2022-06-24 12:52] sandramayer2 opened #175 "Fix for CVE-2022-1996 (Score: 9.1)"
Hi,
our security scan tool find a possible very high security issue for the [CVE-2022-1996](https://nvd.nist.gov/vuln/detail/CVE-2022-1996).

## How it this repository affected?
This affected the go-module emicklei/go-restful for versions before 3.8.0.
In this repository is version 2.9.5 used:
- https://github.com/brancz/kube-rbac-proxy/blob/master/go.mod#L31
- https://github.com/brancz/kube-rbac-

[2022-06-28 11:10] ibihim commented on #175
This is an indirect dependency that we are pulling in from github.com/kubernetes/apiserver. It is used for

We don't use that part of the codebase: we are not affected by the vulnerability at all.

We will make a version bump soon, so the alerts will go away.

[2022-06-29 02:23] porjo commented on #163
Is v0.12.1 still planned?

[2022-06-29 11:40] ibihim commented on #163
Thanks for poking. I created a PR with all the version bumps. Once it is merged, we can do a release.

[2022-06-29 16:34] ibihim commented on #175
We updated the kubernetes dependencies. We can't do more than that, but I could imagine that it contain the newest fix you are referring to.

I would keep the issue open for 30 days and close it. If there are no other concerns around it.

[2022-06-29 16:35] ibihim commented on #163
We pushed out a new release that should fix it: v0.13.0. It works with 1.18.3. Generics :tada:

[2022-07-25 19:04] Darnesey commented on #175
Do we have any updates on the fix for this CVE?

Also, my company's scanning tool is picking up this CVE as well as one for golang.org/x/crypto ([CVE-2022-27191](https://nvd.nist.gov/vuln/detail/CVE-2022-27191)) (High Severity). This also appears to be an indirect dependency, so it's not clear to me whether your service leverages code here that can trigger the ssh crash.

Image version scanned wit

[2022-07-28 10:08] ibihim commented on #79
Over a month has passed. I assume it isn't an issue any more. If you object, please reopen the issue.

[2022-07-28 10:08] #79 closed

[2022-07-28 10:12] ibihim commented on #163
I am closing the issue as it should've been fixed with the current release. Please reopen on any objections.

[2022-07-28 10:12] #163 closed

[2022-08-01 22:16] Darnesey opened #181 "Fix for CVE-2022-27191 (Score: 7.5)"
Hi,
The latest security scan we performed found the following high/critical vulnerabilities:

- [CVE-2022-27191](https://nvd.nist.gov/vuln/detail/CVE-2022-27191) (Score: 7.5)
- [CVE-2022-1996](https://nvd.nist.gov/vuln/detail/CVE-2022-1996) (Score: 9.1)
  - [current github issue link](https://github.com/brancz/kube-rbac-proxy/issues/175)

I understand from the other github issue your direct depend

[2022-08-02 08:07] christianknell opened #182 "Installation via Helm"
Are there any plans for a Helm Chart?

[2022-08-03 08:32] ibihim commented on #175
Hi, I will take a look. We are / were in vacation mode.

[2022-08-03 08:32] ibihim commented on #181
Hi,

we are / were in vacation mode. I will take a look.

[2022-08-03 08:34] ibihim commented on #182
We don't have anything like that on our agenda yet. Currently we focus on maintaining and pushing the project closer towards the k8s sig-auth organization.

[2022-08-04 10:46] ibihim commented on #181
Hi,
I checked briefly with a need trick:

[code]

there were no results. So the SSH package is not used by any of our dependencies in general. So it is definitely not used by any one.

[2022-08-08 09:38] ibihim commented on #181
@Darnesey, is it possible to fix the issue on the bot's side?

I created PRs to fix the reporting with replace commands on the currently highest minor version.
The problem is that:
- I realized that I am doing a change that doesn't do anything, except satisfying a remote bot.
- It might not scale in the long term as we pull in core k8s libraries.

Therefore I would ask you kindly if there is a way

[2022-08-08 09:38] ibihim commented on #175
Cross referencing this issue as there is a general need to solve CVEs that are unrelated:
- https://github.com/brancz/kube-rbac-proxy/issues/181

[2022-08-08 09:40] ibihim commented on #169
I discussed breaking changes like removing CLI API (insecure listen address: [link](https://github.com/brancz/kube-rbac-proxy/pull/186)) and we would like to keep the PR open and merge it at the very end and create warning logs until then.

[2022-08-08 10:26] ibihim opened #187 "[Deprecation] Removal of insecure options: `--insecure-listen-addresss` and unset `--tls-cert-file`, `--tls-private-key-file`"
# What

We are removing the option to run kube-rbac-proxy without configured TLS certificates.
This means that:

-  using `insecure-listen-addresss` won't work any more.
- not setting `tls-cert-file` and `tls-private-key-file` won't work any more.

Upstream H2C should still work, but we might remove verified claims about an identity that are send to upstream in the future.

# Why

We are aware tha

[2022-08-08 11:40] ibihim commented on #182
As kube-rbac-proxy is running as a side-car it would be kinda tricky to offer it as a helm chart.
How would such a thing look like?
Most popular applications in combination with kube-rbac-proxy?

[2022-08-08 21:55] Darnesey commented on #181
@ibihim, I'm not entirely sure I am following you, but if you're asking if we have a bot that is building your code, we do not have one.  We are using the pre-built published docker images of your code base ([bitnami](https://hub.docker.com/r/bitnami/kube-rbac-proxy/tags) appears to stay relatively up to date with your updates). Therefore, we do not have a way to fix your code on our end without f

[2022-08-09 12:00] christianknell commented on #182
You're absolutely right, that it doesn't really make sense to offer a Helm chart. Maybe it would make sense to provide everything you need if you want to include kube-rbac-proxy into an existing Helm chart? For example which values to define in values.yaml, how to adapt the pod definition, ...

[2022-08-09 16:54] ibihim commented on #181
@Darnesey, I wanted to know if it is possible to mute the security bot on your end.
I did not mean you to fork, fix and build it yourself.

We pull half of the Kubernetes codebase as a dependency.
We do that to have the same behavior as our users are used to from their Kubernetes cluster.
But we only use a fraction of the codebase, the auth part.

We are not a dev team, but two developers.
We don'

[2022-08-09 16:58] #153 closed

[2022-08-10 15:25] Darnesey commented on #181
@ibihim, We cannot mute our security bot for a number of reasons. The most we can do is "ignore yet watch" specific vulnerabilities reported in case an update/patch is provided in the future. You stated that these CVEs are not exploitable through your code, so we can add that to our security exceptions at least.

I respect that this repo is only managed by two developers, so the work you've done a

[2022-08-11 14:47] #175 closed

[2022-08-11 14:47] #181 closed

[2022-08-24 18:14] ibihim opened #194 "Don't log TLS handshake error on health-probe-connections"
# What

Add flag that silences logs for shallow tcp connections that are opened and closed.

# Why

haproxy makes health probes by opening tcp connections and closing them.
kube-rbac-proxy reports a TLS handshake error, when this happens.

# Ref

https://bugzilla.redhat.com/show_bug.cgi?id=2111670

[2022-08-26 16:03] ibihim opened #196 "[Deprecation] Removal of options and features that don't fit with upstream"
# What

We will remove the following options in the v1 release:
1. `--tls-reload-interval` as this option is not supported by upstream,
2. `insecure-listen-addresss` won't work anymore and
3. `tls-cert-file == nil` and `tls-private-key-file == nil` won't work any more, TLS is now mandatory.

# Why

## 1.

We were asked to use the upstream cert loader, which doesn't support custom intervals.

## 2.

[2022-09-16 07:30] Tonyqu123 opened #198 "Upgrade golang version"
Hi,
Our security scan tool finds a high-security issue for the
[code]

### Solution
Please upgrade golang version to v1.19.1 to solve the issue.

Thanks very much.

[2022-09-20 16:04] alebedev87 opened #199 "Use Unix domain socket for the upstream"
Currently the upstream can only be an URL to an http(s) endpoint which is bound to a network address and port. This would be nice to have a dedicated flag for the upstream which exposes a unix domain socket. The implementation would probably be quite simple: dedicated `Dial` function with `unix` as network argument in the transport.
The use case in which this can be useful: PODs which use `hostnet

[2022-10-10 21:45] ibihim commented on #198
Done with release v0.13.1

[2022-10-10 21:45] #198 closed

[2022-11-15 03:48] ringerc opened #208 "Docs say "glog" is used, but now uses klog"
The README.md still points to https://github.com/golang/glog for logging config, but the code seems to use klog now.

[2022-11-28 13:14] ibihim commented on #187
Gathering deprecation in this issue: https://github.com/brancz/kube-rbac-proxy/issues/196

[2022-11-28 13:14] #187 closed